<h1><%= @collection.name %></h1>
<%@collection.pens.each do |pen|%>
<ul><a href="/pens/<%= pen.slug %>"><%= pen.name %></a></ul>
<% end %>
<br/>
<p>To add/remove pens to this collection, select below and hit submit.</p>
<p>Pens added here will belong to this collection and will be removed from any other collections.</p>
<form action="/collections/<%= @collection.slug %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <% @pens.each do |pen| %>
  <input type="checkbox" name="pens[]" id="<%= pen.name %>" value="<%= pen.id %>" <%= 'checked' if @collection.pens.include?(pen) %>>
    <%= pen.name %>
  </input>
  <% end %>
  <br></br>
  <input type="submit" name="" value="Submit">
</form>
<p>To Delete this Collection:</p>
<form action="/collections/<%= @collection.slug %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Collection">
</form>
